body {
  background-color: #85cdcb;
}
.card-wrapper {
  max-width: 600px;
  margin: auto;
}
.card {
  max-width: 600px;
  margin: auto;
  height: 500px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}
h1 {
  position: relative;
  top: 70px;
  left: 90px;
  color: #e27d60;
  margin-bottom: 0;
}
.searchBar {
  color: #6b9080;
  position: relative;
  left: 300px;
  top: 50px;
  width: 500px;
}
.button {
  color: #e27d60;
}
.button:hover {
  color: #c38d9e;
  font: white;
}
.col {
  max-width: 200px;
}
li {
  font-size: 13px;
  list-style-type: none;
  color: #e8a87c;
  text-transform: capitalize;
}
.date {
  font-size: 14px;
  margin-top: 100px;

  color: #e8a87c;
}
.temperature {
  font-size: 60px;
  margin-top: 80px;
  margin-right: 100px;
  color: #e8a87c;
}
.units {
  font-size: small;
  position: relative;
  bottom: 30px;
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
  color: #e8a87c;
}
#icon {
  position: relative;
  bottom: 110px;
  left: 120px;
}

.container2 {
  padding-left: 80px;
  max-height: 210px;
}
.container3 {
  color: #c38d9e;
  padding-top: 50px;
  padding-left: 90px;
}
.day-1-emoji,
.day-2-emoji,
.day-3-emoji,
.day-4-emoji,
.day-5-emoji {
  font-size: 20px;
  color: #41b3a3;
}
.card-title {
  font-size: 14px;
}
